<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trunarrative.springexercise.mapper.AddressMapper">

    <select id="queryAll" resultType="com.trunarrative.springexercise.entity.Address">
        select * from address
    </select>

    <insert id="add" parameterType="com.trunarrative.springexercise.entity.Address">
        insert into address values (#{company_number},#{locality},#{postal_code},#{premises},#{address_line_1},#{country}) on duplicate key update company_number = #{company_number}
    </insert>

    <select id="queryByCompanyNumber" resultType="com.trunarrative.springexercise.entity.Address">
        select * from address where company_number = #{company_number}
    </select>

</mapper>